/* Mixins are going next */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: #212121; }

*::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 4px; }

body {
  margin: 0; }

header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background-color: #212121;
  z-index: 1;
  padding: 12px 26px;
  width: 100vw;
  height: 56px;
  border-bottom: 2px solid #424242; }

.topnav {
  display: flex;
  align-items: center; }

.menu {
  border: none;
  background-color: transparent; }

.youtubelogo {
  margin-left: 24px; }

.searchbar {
  display: flex;
  align-items: center;
  height: 32px;
  width: 38%; }

.searchbut {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: transparent; }

.newsearchicon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #212121;
  border-radius: 0px 2px 2px 0px;
  cursor: pointer; }

.searchbar input[type=text] {
  height: 100%;
  width: 90%;
  background: #181818;
  border: 1px solid #424242;
  border-radius: 2px 0px 0px 2px; }

.searchicon {
  height: 100%;
  display: inline-block;
  text-align: center;
  width: 50px;
  background: #424242;
  border: 1px solid #424242;
  border-radius: 0px 2px 2px 0px;
  cursor: pointer; }

.icons {
  display: flex;
  align-items: center; }

.navicon {
  margin-left: 24px; }

.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  width: 200px;
  background-color: #212121;
  overflow-y: scroll; }

.homenav {
  display: flex;
  align-items: center;
  background-color: #212121;
  color: #909090;
  height: 42px;
  border: none; }

.homeicon {
  color: #909090;
  padding-right: 20px; }

.home {
  padding-left: 20px;
  border-bottom: 2px solid #424242; }

.library {
  padding-left: 20px;
  border-bottom: 2px solid #424242; }

.subscriptions {
  padding-left: 20px;
  border-bottom: 2px solid #424242; }

main {
  padding-left: 200px;
  padding-top: 156px;
  background-color: #212121; }

.filters {
  position: fixed;
  top: 56px;
  left: 200px;
  height: 58px;
  width: calc(100vw - 200px);
  background-color: #212121;
  overflow-x: scroll;
  border-bottom: 2px solid #424242;
  display: flex;
  align-items: center; }

.filterbutton {
  background-color: rgba(66, 66, 66, 0.56);
  border: 2px solid #424242;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 16px;
  padding: 7px 12px 7px 12px;
  margin-right: 12px; }

.filterbuttons {
  background-color: rgba(66, 66, 66, 0.56);
  border: 2px solid #424242;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 16px;
  padding: 7px 12px 7px 12px;
  margin-right: 12px;
  margin-left: 24px; }

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 32px; }

.video {
  max-width: 25%;
  padding-right: 5px; }

.video img {
  max-width: 100%; }

.videoscript {
  display: flex; }

.logo {
  size: 100%;
  padding-right: 11px; }

.text {
  color: #FFFFFF;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 24px; }

.subtext {
  font-size: 12px;
  color: #909090; }

@media (max-width: 1143px) {
  .video {
    max-width: 33.3333%; } }
@media (max-width: 886px) {
  .video {
    max-width: 50%; } }
@media (max-width: 655px) {
  .searchbar {
    display: none; }

  .searchbut {
    display: flex; } }
@media (max-width: 510px) {
  .video {
    max-width: 100%; } }

/*# sourceMappingURL=main.css.map */
