@import "./base/core";

* {
   font-family: $primaryFont;
   box-sizing: border-box;
}

body {
 margin: 0;
}

 header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background-color: $blackthema-light-opacity;
  z-index: 1;
  padding: 12px 26px;
  width: 100vw;
  height: 56px;
}

.topnav {
display: flex;
align-items: center;
}

.menu {
border: none;
background-color: transparent;
}

.youtubelogo {
margin-left: 24px;
}


.searchbar {
   display: flex;
   align-items: center;
   height: 32px;
   width: 38%;
   }

 .searchbar input[type=text] {
   height: 100%;
   width: 90%;
   background: #181818;
   border: 1px solid #424242;
   border-radius: 2px 0px 0px 2px;

 }
 .searchicon {
   height: 100%;
   display: inline-block;
   text-align: center;
   width: 50px;
   background: #424242;
   border: 1px solid #424242;
   border-radius: 0px 2px 2px 0px;
   cursor: pointer;
 }

 .icons {
    display: flex;
    align-items: center;
    
 }

 .navicon {
    margin-left: 8px;
 }

 .sidebar {
   position: fixed;
   margin-top: 56px;
   left: 0;
   height: calc(100vh-56px);
   width: 200px;
   background-color: $black-theme-light;
 }

 .home {
  height: 172px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: $bordor-color;
 }

 .homeicon {
  color: $icon-color;
 }

 (дописати до контенту)
 overflow y
