@import "./base/core";

* {
   font-family: $primaryFont;
   box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: $black-theme-light;
}
 
*::-webkit-scrollbar-thumb {
  background-color: $icon-color;
  border-radius: 4px;
}

body {
 margin: 0;
}

 header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background-color: $blackthema-light-opacity;
  z-index: 1;
  padding: 12px 26px;
  width: 100vw;
  height: $header_height;
}

.topnav {
display: flex;
align-items: center;
}

.menu {
border: none;
background-color: transparent;
}

.youtubelogo {
margin-left: 24px;
}


.searchbar {
   display: flex;
   align-items: center;
   height: 32px;
   width: 38%;
   }

 .searchbar input[type=text] {
   height: 100%;
   width: 90%;
   background: #181818;
   border: 1px solid #424242;
   border-radius: 2px 0px 0px 2px;

 }
 .searchicon {
   height: 100%;
   display: inline-block;
   text-align: center;
   width: 50px;
   background: #424242;
   border: 1px solid #424242;
   border-radius: 0px 2px 2px 0px;
   cursor: pointer;
 }

 .icons {
    display: flex;
    align-items: center;
    
 }

 .navicon {
    margin-left: 8px;
 }

 .sidebar {
   position: fixed;
   top: $header_height;
   left: 0;
   height: calc(100vh - 56px);
   width: 200px;
   background-color: $black-theme-light;
   overflow-y: scroll;
 }

 .homenav {
   display: flex;
   align-items: center;
   background-color: $black-theme-light;
   color: $icon-color;
   height: 42px;
   border: none;
 }

 .homeicon {
  color: $icon-color;
  padding-right: 20px;
 }

 .home {
  padding-left: $sidebar_padding;
  border-bottom: $sidebar_border;
 }

.library {
  padding-left: $sidebar_padding;
  border-bottom: $sidebar_border;
 }

 .subscriptions {
  padding-left: $sidebar_padding;
  border-bottom: $sidebar_border;
 }

 main {
   padding-left: 200px;
   padding-top: 156px;
   background-color: $black-theme-light;
 }

 .filters {
   position: fixed;
   top: 56px;
   left: 200px;
   height: 58px;
   width: calc(100vw - 200px);
   background-color: $black-theme-light;
   overflow-x: scroll;
   border-bottom: $sidebar_border;
   border-top: $sidebar_border;
   display: flex;
   align-items: center;
 }
//  .subheader {
//    width: 100%;
//    display: flex;
//    align-items: center;
//  }

 .filterbutton {
   background-color: $icon-color;
   border: $sidebar_border;
   font-size: $m;
   color: $white;
   border-radius: 16px;
   padding: 7px 12px 7px 12px;
   margin-right: 12px;
 }
 .filterbuttons {
  background-color: $icon-color;
  border: $sidebar_border;
  font-size: $m;
  color: $white;
  border-radius: 16px;
  padding: 7px 12px 7px 12px;
  margin-right: 12px;
  margin-left: 24px;
}


.row{
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}
.video{
  max-width: 288px;
}
.videoscript {
  display: flex;
}

.logo {
  padding-right: 11px;
}

.text{
color: $white;
font-weight: bold;
}

.subtext{
font-size: $s;
color: $icon-color;
}



 