//colors
$black-theme-light: #212121;
$blackthema-light-opacity: #212121;
$blacktheme-dark: #181818;
$icon-color: #909090;
$icon-color-fill: #FFFFFF;
$white: #FFFFFF;
$yotube-red: #FF0000;
$bordor-color:#424242;
$subs-new-videos:#3392FF;
$black-99:#000000;